<form action="/users" method="post" accept-charset="UTF-8">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <div>
    <label for="email">E-mail:</label>
    <input type="email" id="email" name="email" value="<%= @user.email %>">
  </div>

  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" value="<%= @user.username %>">
  </div>

  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password">
  </div>

  <div>
    <button type="submit">Create profile</button>
  </div>

  <% @user.errors.each do |error| %>
    <p> <%= error.full_message %> </p>
  <% end %>
</form>
